<!-- Search Form  -->
<section class="users-form">
  <div class="parent">
  <form (ngSubmit)="search()">
  <mat-label>Input Username:</mat-label><br>
  <input matInput placeholder="Username" value="" appearance="fill" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" ><br>
  <button mat-raised-button color="accent" style="margin-right:5px">Search</button>
  <button mat-raised-button color="warn" (click)="reset()" style="margin-left:5px">Reset</button>
</form>
</div>
<!-- User Display  -->
<div class="display">
  <mat-card class="user-display">
    <mat-card-title>
       <span>Name: </span>{{ user?.name }}
    </mat-card-title>
    <mat-card-content>
      <div class="card-flex">
        <div class="img-disp">
           <img class="image" src="{{ user?.avatar_url }}" alt="Profile Picture">
        </div>
        <div class="info-disp">
          <div class="span-disp">
          <span class="info-span">{{ user?.public_repos }} Public Repos</span><br>
          <span class="info-span">{{ user?.public_gists }} Public Gists</span><br>
          <span class="info-span">{{ user?.followers }} Followers</span><br>
          <span class="info-span">{{ user?.following }} Following</span><br>
          </div>
          <label for="">Username:</label><br>
          <span>{{ user?.login }}</span><br>
          <label for="">Location:</label><br>
          <span>{{ user?.location }}</span><br>
          <label for="">Website:</label><br>
          <span>{{ user?.blog }}</span><br>
          <label for="">Member Since:</label><br>
          <span>{{ user?.created_at | date: 'shortDate' }}</span>
        </div>
      </div>  
    </mat-card-content>
  </mat-card>
</div>
<!-- Repo Display  -->
<div class="repo-disp">
  <section *ngFor="let repo of repos">
    <h4>Repos</h4>
    <h5>
      <a href="{{ repo.html_url }}" target="_blank">{{repo.name}}</a>
    </h5>
    <p>{{ repo.description }}</p>
    <span>{{ repo.watchers }} Stars</span>
    <span>{{ repo.forks }} Forks</span>
</section>
</div>
</section>



<!-- <app-users-display></app-users-display> -->
 
