.parent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.user-display{
  width: 30rem;
  height: 15rem;
  margin-top: 40px;
  background: black;
}
.image{
  height: 100px;
  width: 100px;
  margin-top: 20px;
}
.card-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.span-disp{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items:center;
}
.info-span{
  /* background: black; */
  /* border-radius: 5px; */
  
}
.info-btn{
  size: 5rem;
  font-size: 10px;
  text-align: center;
  margin-left: 5px;
}
.user-info {
  margin-top: 20px;
  margin-left: 20px;
}