
  <!-- <mat-form-field appearance="fill">
    <mat-label color="secondary">Username</mat-label>
    <input matInput placeholder="Input Username here">
  </mat-form-field>
  <button mat-button color="accent"></button> -->
<!-- <form class="example-form"> -->
  <!-- <mat-form-field class="example-full-width" appearance="standard"> -->
    <form>
    <mat-label>Input Username:</mat-label>
    <input matInput placeholder="Username" value="" appearance="fill">
    </form>
    
  <!-- </mat-form-field> -->
<!-- </form> -->
  <!-- <form action="">
    <label for="Username">Username:</label>
    <input type="text" placeholder="Insert Username" value="">
  </form> -->
