.form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.form-label{
  /* margin-bottom: 5px; */
  color: black;
  font-size: 16px;
}
.form-input {
  border-radius: 3px;
}
mat-card{
  background: white;
  height: 250px;
  width: 350px;
  margin-bottom: 30px;
  color: black;
 
}
.repo-disp{
 font-size: 14px;
}
.display-flex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.repo-title{
  color: #008080;
  text-decoration: none;
}