<mat-toolbar class="navbar" color="secondary">
  <mat-toolbar-row>
    <h1>GithubSearch</h1>
    <span class="menu-spacer"></span>
    <div class="header-btn">
      <div class="div">
        <a mat-button routerLink='./users' color="accent" style="margin-left: 5px;"> Search Users</a>
        <a mat-button routerLink='./repositories' color="accent" style="margin-left: 5px;"> Search Repositories </a>
      </div>
       <!-- <a mat-button routerLink='./home' color = "accent"> Home</a> -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <div >
  <button mat-flat-button color="accent" style="margin-right: 5px;" routerLink='./users'>Search Users</button>
  <button mat-flat-button color="accent" style="margin-left: 5px;" routerLink='./repositories'>Search Repsitories</button>
</div> -->

<router-outlet></router-outlet>
