
<main>
  <mat-toolbar class="navbar" color="secondary">
  <mat-toolbar-row>
    <img class="logo" src="/assets/images/github-logo-white.png" alt="github-logo-white">
    <h1>GithubSearch</h1>
    <span class="menu-spacer"></span>
    <div class="header-btn">
      <div class="div">
        <a class="nav-a" mat-button routerLink='./users'  style="margin-left: 5px;"> Search Users</a>
        <a class="nav-a" mat-button routerLink='./repositories' style="margin-left: 5px;"> Search Repositories </a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
</main>




