.header-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 5px;
}
.navbar{
  background: black;
  color: #008080;
 
}
.footer-text{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 16px;
}